LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=YOUR.LANGSMITH_API_KEY
LANGSMITH_PROJECT=YOUR.LANGSMITH_TRACING_PROJECT
TAVILY_API_KEY=YOUR.TAVILY_API_KEY
OPENAI_API_KEY=YOUR.OPENAI.API.KEY
SMITHERY_API_KEY=YOUR.SMITHERY_API_KEY
GET_API_KEYS_FROM_CONFIG=false
ANTHROPIC_API_KEY=YOUR.ANTHROPIC_API_KEY