# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
uv.lock

# Environments
.env
.venv

# Test / lint caches
.mypy_cache/
.mypy_cache_test/
.pytest_cache/
.coverage
htmlcov/

# LangGraph
.langgraph_api
