langgraph>=0.3.25
langchain-openai>=0.3.0
langchain>=0.3.23
langchain-mcp-adapters>=0.1.0
langchain-tavily>=0.1.0
python-dotenv>=1.0.1
aiofiles>=24.1.0
mypy>=1.11.1
ruff>=0.6.1
langgraph-cli[inmem]>=0.1.89
